.logo{
    width: 250px;
    height: 50px;
    object-fit: contain;
}
.navbarcolor{
   color: #01cfbe;
}
.scroolstyle{
    color: black;
    font-weight: bold;
    background-color: #b3d0ca;
}

.buto{
    min-width: 200px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}
.progress{
    /* position: fixed; */
    height: 1rem;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
}