.qusitio{
    color: #05D0BF;

}
.qusitio2{
   color: #58547E;
font-size: 60px;
}
.cobid{
   color: #58547E;
    font-weight: bold;
}
.cobid2{
    color: #58547E;

}
.acc{
   color: #58547E;
   font-weight: bold;
font-size: 300px;
}
.hedeer{
    background-color: #58547E;
    color: white;
}