.first{
    color: #05D0BF;

}
.second{
   color: #58547E;

}
.colorcase{
    color: #05D0BF;

}
.colorcase2{
    color: #58547E;

}
.colorcase3{
    color: #58547E;

}
.uniquecolor{
    color: #05D0BF;

}