.first{
    color: #05D0BF;

}
.second{
   color: #58547E;

}
.colorcase{
    color: #05D0BF;

}
.colorcase2{
    color: #58547E;

}
.colorcase3{
    color: #58547E;

}
.uniquecolor{
    color: #05D0BF;

}



    /* SPINNER JUST FOR DEMO */
    .spi{
        margin-top: 20px;
        display:inline-block; width: 100px; height: 100px;
        border-radius: 50%;
        margin-top: +10px;
        box-shadow: inset -2px 0 0 2px #0bf;
        /* height: 50px; */
      }
      .rot{
        animation: rotate 1.5s linear infinite; 
      }
      @keyframes rotate{
        to{ transform: rotate(360deg); }
      }
      
      